
html, body {
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #309898;
}

body::-webkit-scrollbar {
  display: none; 
}

.setupContainer {
    display: flex;
    width: 800px;
    justify-content: space-around;
    gap: 30px;
    
}

button {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 50px;
    font-size: 25px;
    height: 50px;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #FF9F00;
    color: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}

@keyframes pulse-on-hover {
    0%, 100% {
        transform: scale(1);
    } 
    50% {
        transform: scale(1.5);
    }
}

#dimensionsButton {
    transition: transform 0.2s ease-in-out;
}

#dimensionsButton:hover {
    animation: pulse-on-hover 0.9s infinite ease-in-out;
}

@keyframes pulseShadow {
    0%, 100% {
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    }50% {
        box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.7);
    }
}

#blackButton:hover {
    transform: scale(1.1);  
    animation: pulseShadow 1s infinite ease-in-out;
}

#rainbowButton {
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

#rainbowButton:hover {
    /* transform: scale(1.1); */
    box-shadow: 
    0 0 5px red,
    0 0 10px orange,
    0 0 15px gold,
    0 0 20px yellow,
    0 0 25px lime,
    0 0 30px green,
    0 0 35px turquoise,
    0 0 40px cyan,
    0 0 45px dodgerblue,
    0 0 50px blue,
    0 0 55px indigo,
    0 0 60px violet,
    0 0 65px magenta,
    0 0 70px pink

}

#resetButton {
    position: relative;
    overflow: hidden;
    transition: transform 0.2s ease-in-out
}

#resetButton span {
    position: relative;
    z-index: 1;
}

#resetButton::after {
    content: "";
    position: absolute;
    background-color: #FF9F00;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    z-index: 2;
    pointer-events: none;
    transition: none;
}

#resetButton:hover {
    transform: scale(1.1);
}

#resetButton:hover::after {
    animation: wipeText 0.5s linear forwards;
}

@keyframes wipeText {
    from {
        width: 0;
    }to {
        width: 100%;
    }
}

.container{
    display: flex;
    position: relative;
    z-index: 2;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
}

.child-div {
    box-sizing: border-box;
}

#sketch-wrapper {
    position: relative;
    width: 1000px;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#etch-frame {
    position: absolute;
    top : 5%;
    width: 94%;
    height: 95%;
    z-index: 1;
    object-fit: cover;
}

@keyframes shake {
    0%, 100% {transform: translate(0);}
    20%, 60% {transform: translateX(-30px);}
    40%, 80% {transform: translateX(30px);}
}

.shake {
    animation: shake 0.5s;
}

